/**
 * Sass sources for CSS styles used by plugin. To overwrite with your own styles
 * entirely, add the following to your functions.php:


 * @package Wanderlist
 */
/*--------------------------------------------------------------*/
/* Maps */
#map {
  border: 1px solid silver;
  display: block;
  height: 200px;
  position: relative;
  z-index: 0;
  width: 100%;
}
@media (min-width: 768px) {
  #map {
    height: 400px;
  }
}
#map .wanderlist-location-widget {
  background: rgba(255, 255, 255, 0.75);
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  position: absolute;
  z-index: 100;
}
#map .wanderlist-location-widget h3 {
  text-align: center;
}

/* Widgets */
.wanderlist-widget {
  margin-top: 1em;
}
.wanderlist-widget .widget-title {
  border-bottom: 2px solid;
  padding-bottom: 0.5em;
  text-align: left;
}
.wanderlist-widget dl,
.wanderlist-widget ul {
  font-size: 16px;
  font-size: 1rem;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 10px 0;
  padding-left: 0;
  content: "";
  display: table;
}
.wanderlist-widget dl dt,
.wanderlist-widget ul dt {
  clear: left;
  font-style: italic;
  font-weight: normal;
}
.wanderlist-widget dl dd,
.wanderlist-widget ul dd {
  white-space: nowrap;
}

/* Text snippets */
.wanderlist-country-count {
  color: #a32020;
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 1;
}

.wanderlist-current-location {
  color: #a32020;
  font-style: italic;
}
