/**
 * Sass sources for CSS styles used by plugin. To overwrite with your own styles
 * entirely, add the following to your functions.php:
 *
 function flare_dequeue_plugin_styles()  {
  wp_dequeue_style( 'wanderlist-style' );
 }
 add_action( 'wp_print_styles', 'flare_dequeue_plugin_styles', 100 );
 *
 * @package Wanderlist
 */
/*--------------------------------------------------------------*/
/* Maps */
#wanderlist-map {
	border: 1px solid silver;
	display: block;
	height: 200px;
	position: relative;
	width: 100%; 
	z-index: 0;
}
@media (min-width: 768px) {
	#wanderlist-map {
		height: 400px;
	}
}
#wanderlist-map .leaflet-marker-icon,
#wanderlist-map .leaflet-tile {
	border: none;
	box-shadow: none;
}
#wanderlist-map .wanderlist-location-widget {
	background: rgba(255, 255, 255, 0.75);
	bottom: 20px;
	left: 20px;
	padding: 10px 20px;
	position: absolute;
	z-index: 100;
}
#wanderlist-map .wanderlist-location-widget h3 {
	text-align: center;
}

/* Widgets */
.wanderlist-widget {
	margin-top: 1em;
}
.wanderlist-widget .widget-title {
	border-bottom: 2px solid;
	padding-bottom: 0.5em;
	text-align: left;
}
.wanderlist-widget dl,
.wanderlist-widget ul {
	content: '';
	display: table;
	margin: 10px 0;
	padding-left: 0;
	width: 100%;
}
.wanderlist-widget dl dt,
.wanderlist-widget ul dt {
	clear: left;
	float: left;
	font-style: italic;
	font-weight: normal;
	width: 25%;
}
.wanderlist-widget dl dd,
.wanderlist-widget ul dd {
	float: left;
	margin: 0 5% 0.5em 0;
	white-space: nowrap;
	width: 70%;
}

.entry-content .wanderlist-widget dl {
	margin: 10px 0;
}

#content .wanderlist-widget dd {
	margin-bottom: 10px;
}

/* Text snippets */
.wanderlist-country-count {
	color: #a32020;
	font-size: 1.5em;
	font-weight: bolder;
	line-height: 1;
}

.wanderlist-current-location {
	color: #a32020;
	font-style: italic;
}
