/* Adjust spacing of geolocation metabox a bit */
#wanderlist-geolocation {
	margin-top: 15px;
	margin-bottom: 0px;
}

#wanderlist-geolocation-map {
	height: 300px;
	position: relative;
	width: 100%;
}

/* Style "find me" button */
#wanderlist-locate-user {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 3px;
	box-shadow: none;
	position: absolute;
		top: 10px;
		left: 220px;
	z-index: 7;
}

#wanderlist-locate-user::before {
	color: #404040;
	content: '\f230';
	display: block;
  font-family: dashicons;
	font-size: 16px;
	padding: 3px 5px;
}

#wanderlist-locate-user:hover {
	background-color: #f8f8f8;
}

#wanderlist-locate-user:active,
#wanderlist-locate-user:focus {
	box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
}

/* Spinner for loading */
.wanderlist-loader {
	display: none;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 100px auto;
	z-index: 10;
}

.wanderlist-loader.active {
	display: block;
}

.wanderlist-loader-circle {
	animation: wanderlist-bounce 1600ms infinite ease-in-out;
	background-color: rgba(255, 255, 255, 0.125);
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
  width: 100%;
}

.wanderlist-loader-circle:nth-of-type(odd) {
  animation-delay: -800ms;
}

@keyframes wanderlist-bounce {
  0% {
		opacity: 1;
    transform: scale(0.0);
  }
	90% {
    transform: scale(1.0);
  }
	100% {
		opacity: 0;
	}
}

/* Error and success messages */
.wanderlist-message {
	box-shadow: none !important;
	opacity: 0;
	padding: 0;
	transition: all 0.25s;
	visibility: none;
}

.wanderlist-message .success-message,
.wanderlist-message .error-message {
	display: none;
}

.wanderlist-message.success {
	color: #64b450;
	opacity: 1;
	visibility: visible;
}

.wanderlist-message.success .success-message {
	display: inline;
}

.wanderlist-message.error {
	color: #dc3232;
	opacity: 1;
	visibility: visible;
}

.wanderlist-message.error .error-message {
	display: inline;
}

.wanderlist-message.notice {
	color: #ffb900;
	opacity: 1;
	visibility: visible;
}
