#wanderlist-geolocation-map {
	height: 300px;
	width: 100%;
}

.wanderlist-message {
	box-shadow: none !important;
	opacity: 0;
	padding: 0;
	transition: all 0.25s;
	visibility: none;
}

.wanderlist-message .success-message,
.wanderlist-message .error-message {
	display: none;
}

.wanderlist-message.success {
	color: #64b450;
	opacity: 1;
	visibility: visible;
}

.wanderlist-message.success .success-message {
	display: inline;
}

.wanderlist-message.error {
	color: #dc3232;
	opacity: 1;
	visibility: visible;
}

.wanderlist-message.error .error-message {
	display: inline;
}

.wanderlist-message.notice {
	color: #ffb900;
	opacity: 1;
	visibility: visible;
}
